<h1 class="animated fastIn fast">Seccion dedicada al acerca de....</h1>
<h2>Aqui iria alguna descripcion bonita</h2>
<p class="animated fadeIn">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut inventore repellendus molestias odit unde laboriosam, impedit dicta praesentium cum eum suscipit quibusdam ipsa maiores, mollitia tenetur quae magnam accusamus aspernatur.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore perferendis ea vel accusamus dolorem at unde officia dolorum fugiat in magnam deserunt sed animi vero, rerum explicabo voluptatibus temporibus! Exercitationem?
</p>
